<% provide :title, t(".heading") %>

<h1><%= t ".heading" %></h1>
<p>
  <%= t".intro_1" %>
  <%= link_to t "link.home_page" do %>
    <em><%= t ".redirect.home_page" %></em>,
  <% end %>
  <%= t".intro_2" %>
  <%= link_to t(".redirect.learn_enough"), Settings.link.learn_enough %>
  <%= t".intro_3" %>
  <%= link_to t(".redirect.rails_book"), Settings.link.rails_book %>
  <%= t ".intro_4" %>
  <%= link_to t(".redirect.screencast"), Settings.link.rails_screencast %>
  <%= t ".intro_5" %>
  <%= link_to t(".redirect.rails_ruby"), Settings.link.rails_ruby %>.
  <%= t ".intro_6" %>.
</p>
