<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t(".compose") %>
  </div>
  <%= f.submit t(".post"), class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image, accept: Settings.image.type2 %>
  </span>
<% end %>

<%= javascript_pack_tag "image_size", "data-turbolinks-track": "reload" %>
